header {
    background-color: #1dcf17;
    color: #d82525;
    text-align: center;
    padding: 20px;
}

.profile-picture {
    align-content: left;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 50%;
}
h2{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.entry {
    margin: 10px 0;
}

a {
    color: #3498db;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-picture {
    align-content: left;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 50%;
}

